@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');

@import url('form.css');
@import url('login.css');
@import url('signup.css');

body { 
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

*, 
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

